<div class="container">
  <input type="checkbox" id="check">
  <div class="login form">
    <header>Login</header>
    <div>
      <input type="text" [(ngModel)]="user.Email" placeholder="Enter your email">
      <input type="password" [(ngModel)]="user.Password" placeholder="Enter your password">
      <input type="button" (click)="SignIn()" class="button" value="Login">
    </div>
    <div class="signup">
      <span class="signup">Don't have an account?
       <label for="check">Signup</label>
      </span>
    </div>
  </div>
  <div class="registration form">
    <header>Signup</header>
    <div>
      <input type="text" id="FirstName" [(ngModel)]="user.FirstName" placeholder="FirstName your email">
      <input type="text" id="LastName" [(ngModel)]="user.LastName" placeholder="LastName your email">
      <input type="text" [(ngModel)]="user.Email" placeholder="Email your email">
      <input type="password" [(ngModel)]="user.Password" placeholder="Create a password">
      <input type="password" [(ngModel)]="user.ConfirmPassword" placeholder="Confirm your password">
      <input type="button" (click)="SignUp()" class="button" value="Signup">
    </div>
    <div class="signup">
      <span class="signup">Already have an account?
       <label for="check">Login</label>
      </span>
    </div>
  </div>
</div>
