<div class="topnav" style="margin-top: 100px;">
  <a [ngClass]="{'active': tab === 'home'}" href="">Home</a>
  <a *ngIf="showResident" [ngClass]="{'active': tab === 'resident'}" href="/resident">Resident</a>
  <a *ngIf="showApartment" [ngClass]="{'active': tab === 'apartment'}" href="/apartment">Apartment</a>
  <a *ngIf="showCustomer" href="/customer">Customers</a>
  <!-- <a href="/product">Products</a>
  <a href="/student">Students</a> -->
  <a [ngClass]="{'active': tab === 'buildingcategory'}" *ngIf="showBuildingCategory" href="/buildingcategory">BuildingCategory</a>
  <a [ngClass]="{'active': tab === 'address'}" *ngIf="showAddress" href="/address">Address</a>
  <a [ngClass]="{'active': tab === 'urbanarea'}" *ngIf="showUrbanArea" href="/urbanarea">UrbanArea</a>
  <a href="/login">Login</a>

  <a *ngIf="showPermission" [ngClass]="{'active': tab === 'permission'}"  href="/permission">Permission</a>
  <a [ngClass]="{'active': tab === 'user'}" *ngIf="showUser"  href="/user">User</a>
  <a (click)="logout()">Logout</a>
</div>

<div style="padding-left:16px">
  <div >
    <router-outlet></router-outlet></div>
</div>

